@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-col justify-center">
    <h1 class="text-2xl font-bold text-orange-400">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="bg-red-700">Click me</button>
    <div class="border border-black border-2">
    Hello
    </div>
</div>
